<!-- public/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Upload para vimeo</title>
</head>
<body>   
    <h1>Upload para vimeo</h1>
    <form action='/upload' method='post' encType="multipart/form-data">
        <input type="file" name="file" />
        <input type='submit' value='Upload!' />
    </form>	
</body>
</html>