<!-- public/index.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Upload para vimeo</title>
</head>

<body>
    <h1>Upload para vimeo</h1>
    <div id="video"></div>
    <script src="https://player.vimeo.com/api/player.js"></script>


    <script>

        const options = {
            url: "https://vimeo.uploadcom/334866214",
            width: 400
        }
        const videoPlayer = new Vimeo.Player('video', options);
    </script>
</body>

</html>