<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Video Preview</title>
</head>

<body>
   console.log("to aqui: "+<%= uri %>)
   
        <div id="videoPreview"></div>
        <script src="https://player.vimeo.com/api/player.js"> </script>
        <script>
        
           
      const options = {
                url: "https://vimeo.com/${res}",
                width: 400
            }


            const videoPlayer = new Vimeo.Player('videoPreview', options);
        </script>
    
</body>

</html>